header {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background: black;
}

nav {
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(208, 194, 1);
}

.image {
    width: 50%;
    height: 400px;
    float: left;
    background-image: url("images/img1.jpg");
    background-size: auto 550px;
}

.register {
    width: 50%;
    height: 400px;
    float: right;
    background: black;
    background-image: url("images/img2.jpg");
    background-size: auto 550px;
}

button {
    border: none;
    color: white;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    margin: 0;
    position: absolute;
    top: 50%;
}

button:hover {
    background-color: rgb(148, 138, 0);
}

footer {
    color: white;
    background-color: black;
    padding: 84px 0px
}